# Bỏ qua thư mục môi trường ảo
venv_tf/

# Bỏ qua bộ đệm Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bỏ qua các tệp dành riêng cho trình chỉnh sửa và IDE
.vscode/
.idea/

# Bỏ qua các tệp nhật ký và bộ đệm
*.log
.cache/

# Bỏ qua các tệp dành riêng cho hệ điều hành
.DS_Store
Thumbs.db